@page "/categories"

@inject CategoryClient CategoryClient

<PageTitle>Categories</PageTitle>

<h3>Categories</h3>

@if (_categories is null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var category in _categories)
        {
            <li>
                @category.Name
            </li>
        }
    </ul>
}

@code
{
    private List<CategoryDto>? _categories;

    protected override async Task OnInitializedAsync()
    {
        _categories = await CategoryClient.GetAllAsync();
    }
}